@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #222831;
}

.dark-bg {
  background-color: #222831 !important;
}

.dark-text {
  color: #222831 !important;
}

.gray-bg {
  background-color: #393e46 !important;
}

.gray-text {
  color: #393e46 !important;
}

.blue-bg {
  background-color: #00adb5 !important;
}

.blue-text {
  color: #00adb5 !important;
}

.white-bg {
  background-color: #eeeeee !important;
}

.white-text {
  color: #eeeeee !important;
}

